#category #subcategories {
	display: none;
}

.adminorders #ecoas_resetbutton {
	display: none;
}

#block_home_surmesure .block_listing_product {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#block_home_surmesure .block_listing_product img {
	max-width: 25em;
}

#index #wrapper {
	background-color: white !important;
}

#footer {
	box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, .11)
}