#category #subcategories {
	display: none;
}

.adminorders #ecoas_resetbutton {
	display: none;
}

#block_home_surmesure .block_listing_product {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#block_home_surmesure .block_listing_product img {
	max-width: 25em;
}

#index #wrapper {
	background-color: white !important;
}

#footer {
	box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, .11)
}

.header-top-container {
	margin: 0 6em;
}

.header-top-container>.row {
	display: flex;
}

.header-top-container>.js-top-menu {
	display: flex;
	justify-content: space-around;
}

.header-top-container>.row>.header-top-right {
	display: flex;
	justify-content: space-between;
	margin: 0 4em 0 2em;
}

.header-top-container>.row>#_desktop_logo {
	width: 25%;
}

#search_widget {
	transition: all .3s ease-in-out;
}

.search_widget_active {
	width: 20rem !important;
}

.header-nav {
	font-family: "Poppins-Light", sans-serif;
	font-size: .875rem;
}

.top-menu svg {
	width: 1em;
	margin: 0 0 0.5em 0.5em;
}

#_desktop_top_menu>ul>li:not(:last-child)>.dropdown-item {
	border-right: 1px solid rgb(216, 214, 214);
	padding-right: 1em;
}

#_desktop_top_menu>ul>li>.dropdown-item {
	cursor: pointer;
	display: flex;
}

.top-menu-arrow {
	transform: rotate(0deg);
	transition: all 0.3s ease-in-out;
}

.rotate-180 {
	transform: rotate(180deg);
	transition: all 0.3s ease-in-out;
}